$small: 576px;
$medium: 768px;
$large: 992px;
$larger: 1200px;
$extra-large: 1365px;

$white: #ffffff;
$black: #000000;
$grey: #636e72;
$green: #64c47a; 
$dark: #2d3436;
$light-grey:#f9f9f9;
$lighter-grey: #c2c2c2;

