.home-culture-career-social-page {
  background-image: url("../../assets/home-page-info-section-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 100%; }
