@import 'shared/style/_variables';
.home-culture-page{
    .text-bigger {
        font-weight: 700;
    }
    .text-medium {
        font-weight: 700;
    }
    .text-small {
        font-weight: 500;
    }
}