@import 'shared/style/_variables';

.home-page-banner {
    background: url('../../assets/home-page-banner-bg.png') 100% no-repeat;
    background-size: contain;
    .green-text {
        color: $green;
    }
    .text-bigger {
        font-weight: 900;
    }
    .text-smaller {
        font-weight: 500;
    }
    .text-small {
        font-weight: 500;
    }
}
@media (max-width: $medium) {
    .home-page-banner {
        background-position-y: 100%;
        background-repeat: no-repeat;
        min-height: 400px;
        background-size: 50%;
    }
}