@import 'shared/style/_variables';

.skilled-fast-page {
    margin-top: -5px;
    position: relative;
    height: 40vw;
    .text-bigger {
        font-weight: 700;
    }
    .text-normal {
        font-weight: 500;
    }
    .text-small {
        font-weight: 500;
    }
    .image-part {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 40vw;
        img {
            height: 100%;
        }
    }
    .video-player {
        position: absolute;
        top: 4.1vw;
        right: 2.45vw;
        width: 42.3vw;
    }
    @media (max-width: $large) {
        .video-player {
            top: calc(500px - 35.9vw);
        }
    }
    iframe {
        height: 32vw;
    }
    @media (max-width: $medium) {
        .container {
            padding-top: 50px;
        }
    }
    @media (max-width: $small) {
        .container {
            padding-top: 80px;
        }
    }
}
@media (max-width: $large) {
    .skilled-fast-page {
        min-height: 500px;
    }
}
@media (max-width: $medium) {
    .skilled-fast-page{
        &.text-column-align-center {
            display: block;
        }
    }
}