.skilled-social-fast-page {
  background-image: url("../../assets/bg-skill-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 100%; }
